<!-- All the Veggies -->
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2 col-xs-6"><p> <img src="food.jpg"><br> {{vegItems[0].name}}</p></div>
  <div class="col-md-2 col-xs-6"><p><img src="food.jpg"> <br>{{vegItems[1].name}}</p></div>
  <div class="col-md-2 col-xs-6"><p><img src="food.jpg"> <br>{{vegItems[2].name}}</p></div>
  <div class="col-md-2 col-xs-6"><p><img src="food.jpg"><br> {{vegItems[3].name}}</p></div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2 col-xs-6"><p> <img src="food.jpg"><br> {{vegItems[4].name}}</p></div>
  <div class="col-md-2 col-xs-6"><p><img src="food.jpg"> <br>{{vegItems[5].name}}</p></div>
  <div class="col-md-2 col-xs-6"><p><img src="food.jpg"> <br>{{vegItems[6].name}}</p></div>
  <div class="col-md-2 col-xs-6"><p><img src="food.jpg"> <br>{{vegItems[7].name}}</p></div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2 col-xs-6"><p> <img src="food.jpg"> <br>{{vegItems[8].name}}</p></div>
  <div class="col-md-2 col-xs-6"><p><img src="food.jpg"> <br>{{vegItems[9].name}}</p></div>
  <div class="col-md-2 col-xs-6"><p><img src="food.jpg"> <br>{{vegItems[10].name}}</p></div>
  <div class="col-md-2 col-xs-6"><p><img src="food.jpg"><br> {{vegItems[11].name}}</p></div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2 col-xs-6"><p> <img src="food.jpg"> <br>{{vegItems[12].name}}</p></div>
  <div class="col-md-2 col-xs-6"><p><img src="food.jpg"><br> {{vegItems[13].name}}</p></div>
  <div class="col-md-2 col-xs-6"><p><img src="food.jpg"> <br>{{vegItems[14].name}}</p></div>
  <div class="col-md-2 col-xs-6"><p><img src="food.jpg"> <br>{{vegItems[15].name}}</p></div>
  <div class="col-md-2"></div>
</div>
