<!DOCTYPE html>
<html lang="en">
  <head>
   		 <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Landing Page</title>        
        <link rel="stylesheet" href="libs/bootstrap-3.3.7-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="libs/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="styles.css">
       
	
    
  </head>

  <body class="landingbody">

	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1 class="introheader">Plan a Healthy Meal with Ease</h1>
					<h3>Met your macro-nutrient requirements by logging what you eat</h3>
						<div>
						<h4> What are Macronutrients?</h4>
						</div>
					<p class="introparagraph">Macronutrients are the main component of a balanced diet.  Our bodies require larger amounts of macronutrients than micronutrients, like vitamins. The three macronutrients are: protein, fat, and carbohydrates.  Each perform vital functions in the body.  Make sure you're eating enough of each with the Meet Your Macros app.				
				</div><!-- /col-lg-6 -->
				<div class="col-lg-6">
					<img class="img-responsive" src="imgs/foodPyramid.png" alt="food pyramid">
				</div><!-- /col-lg-6 -->
				<p></p>
				<div class="col-lg-6" class="requirements">
					
					<ul>Macronutrient Requirements
					<br>
					<li>Protein: 50% of calories</li>
					<li>Carbohydrates: 30% of calories</li>
					<li>Fats: 20% of calories</li>
					</ul>

					<img class="img-responsive" src="imgs/macronutrients.jpg" alt="micronutrient graph">
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	
	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1 class="introheader">Choose your selection</h1>
				<h3>Record your meal selections or generate random items to create a meal.</h3>
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-md-6">
				<img src="imgs/log.jpg " width="180" alt="food log img">
				<h4 class = "introheader"> Log your Meals</h4>
				<p>Keep track of your nutrition info <br> by logging your meals.</p>
			</div>

			<div class="col-md-6">
				<img src="imgs/randomFood.jpg" width="180" alt="random food img">
				<h4 class="introheader">Random Menu Selections</h4>
				<p>Get a suggestion of random food <br>to create your own meals.</p>

			</div>
		</div><!-- /row -->
	</div><!-- /container -->
	
  </body>
</html>
