<div ng-if="selected.value === $index">
    <ul class="nutrList">
	    <li><strong>Serving</strong>: {{item.servSize}}</li>
	    <li><strong>Calories</strong>: {{item.cal}}</li>
	    <li><strong>Carbs</strong>: {{item.carbs}}g</li>
	    <li><strong>Protein</strong>: {{item.protein}}g</li>
	    <li><strong>Fats</strong>: {{item.fat}}g</li>
    </ul>
    <span id="randFoodButtons">
    	<button class="btn btn-success" ng-click="addItem(item); selected.value = null;">+</button>
    	<button class="btn btn-danger randFoodButtons" ng-click="selected.value = null">-</button>
    </span>
</div>