<div class="container">
    <h2>Currently Selected Foods</h2>
    <running-total></running-total>
    <div class="row"> 
        <div class="col-xs-12 servingsTotal">
            <div class="row">
                <div class="col-xs-4 rowHeading">
                    <h2>Dairy</h2>
                    <span>Current Servings: {{dairyServings}}</span><br>
                    <span>Goal Servings: 2-3</span><br>
                    <button class="btn randBtn" ng-click="randDairy()">Randomize Suggestions</button>
                </div>
                <div class="col-xs-8 progressHeading">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:{{dairyBar}}%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 suggestedRow">
            <div class="row">
                <div class="randomFoodIcons col-sm-3 col-xs-6" ng-repeat="item in randDairyItems track by $index">
                    <suggested-info></suggested-info>
                </div>
            </div>
        </div>
    </div>
    <div class="row"> 
        <div class="col-xs-12 servingsTotal">
            <div class="row">
                <div class="col-xs-4 rowHeading">
                    <h2>Vegetables</h2>
                    <span>Current Servings: {{vegServings}}</span><br>
                    <span>Goal Servings: 2-3</span><br>
                    <button class="btn randBtn" ng-click="randVeg()">Randomize Suggestions</button>
                </div>
                <div class="col-xs-8 progressHeading">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:{{vegBar}}%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 suggestedRow">
            <div class="row">
                <div class="randomFoodIcons col-sm-3 col-xs-6" ng-repeat="item in randVegItems track by $index">
                    <suggested-info></suggested-info>
                </div>
            </div>
        </div>
    </div>
    <div class="row"> 
        <div class="col-xs-12 servingsTotal">
            <div class="row">
                <div class="col-xs-4 rowHeading">
                    <h2>Fruit</h2>
                    <span>Current Servings: {{fruitServings}}</span><br>
                    <span>Goal Servings: 2-3</span><br>
                    <button class="btn randBtn" ng-click="randFruit()">Randomize Suggestions</button>
                </div>
                <div class="col-xs-8 progressHeading">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:{{fruitBar}}%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 suggestedRow">
            <div class="row">
                <div class="randomFoodIcons col-sm-3 col-xs-6" ng-repeat="item in randFruitItems track by $index">
                    <suggested-info></suggested-info>
                </div>
            </div>
        </div>
    </div>
    <div class="row"> 
        <div class="col-xs-12 servingsTotal">
            <div class="row">
                <div class="col-xs-4 rowHeading">
                    <h2>Grains</h2>
                    <span>Current Servings: {{grainServings}}</span><br>
                    <span>Goal Servings: 2-3</span><br>
                    <button class="btn randBtn" ng-click="randGrain()">Randomize Suggestions</button>
                </div>
                <div class="col-xs-8 progressHeading">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:{{grainBar}}%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 suggestedRow">
            <div class="row">
                <div class="randomFoodIcons col-sm-3 col-xs-6" ng-repeat="item in randGrainItems track by $index">
                    <suggested-info></suggested-info>
                </div>
            </div>
        </div>
    </div>
    <div class="row"> 
        <div class="col-xs-12 servingsTotal">
            <div class="row">
                <div class="col-xs-4 rowHeading">
                    <h2>Proteins</h2>
                    <span>Current Servings: {{proteinServings}}</span><br>
                    <span>Goal Servings: 2-3</span><br>
                    <button class="btn randBtn" ng-click="randProtein()">Randomize Suggestions</button>
                </div>
                <div class="col-xs-8 progressHeading">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:{{proteinBar}}%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 suggestedRow">
            <div class="row">
                <div class="randomFoodIcons col-sm-3 col-xs-6" ng-repeat="item in randProteinItems track by $index">
                    <suggested-info></suggested-info>
                </div>
            </div>
        </div>
    </div>
</div>