<div class="container">
    <h2>Macronutrient Totals (in grams)</h2>
    <h4 id="macroLegend">Legend</h4>
    <p class="legend-item" id="legend-carb"><b>Carbs: {{carbTotal | number: 2}}g</b></p>
    <p class="legend-item" id="legend-fat"><b>Fat: {{fatTotal | number: 2}}g</b></p>
    <p class="legend-item" id="legend-protein"><b>Protein: {{proteinTotal | number: 2}}g</b></p>
    <canvas id="doughnut" class="chart chart-doughnut" chart-data="foodData" chart-labels="foodLabels"></canvas>
    <table class="table table-striped" id="logTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Serving</th>
                <th>Group</th>
                <th>Calories</th>
                <th>Carbs</th>
                <th>Protein</th>
                <th>Fat</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items | orderBy: 'id'" ng-cloak>
                <td>{{item.name}}</td>
                <td>{{item.servsize}}</td>
                <td>{{item.foodgroup}}</td>
                <td>{{item.cal}}</td>
                <td>{{item.carbs}}</td>
                <td>{{item.protein}}</td>
                <td>{{item.fat}}</td>
                <td><span ng-if="item.logday === null" class="glyphicon glyphicon-remove-sign ttlRemove" ng-click="deleteItem(item)"></span></td>
            </tr>
            <tr ng-if="items.length > 0" id="totalsRow">
                <td>Totals</td>
                <td></td>
                <td></td>
                <td>{{calTotal}}</td>
                <td>{{carbTotal | number: 2}}g</td>
                <td>{{proteinTotal | number: 2}}g</td>
                <td>{{fatTotal | number: 2}}g</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col xs-12">
            <div class="logToggle">
                <input type="date" class="input-large input-large-altered" ng-model="logday">
                    <br>
                <button type="button" class="btn btn-success" ng-click="saveCurrentLog()">Save Current Log</button>
            </div>
            <div class="logToggle">
                <input type="date" class="input-large input-large-altered" ng-model="savedLogday">
                    <br>
                <button type="button" class="btn btn-default" ng-click="loadSavedLog()">Load Saved Log</button>
            </div>
            <button type="button" class="btn btn-info" ng-click="newLog()">Start/Resume Log</button>
            <button type="button" class="btn btn-danger" ng-click="clearLog()">Delete Unsaved Log</button>
        </div>
    </div>
</div>
