<h2>Macronutrient Totals (in grams)</h2>
<canvas id="doughnut" class="chart chart-doughnut" chart-data="foodData" chart-labels="foodLabels"></canvas>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Serving Size</th>
            <th>Food Group</th>
            <th>Calories</th>
            <th>Carbohydrates</th>
            <th>Protein</th>
            <th>Fat</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items | orderBy: 'id'" ng-cloak>
            <td>{{item.name}}</td>
            <td>{{item.servsize}}</td>
            <td>{{item.foodgroup}}</td>
            <td>{{item.cal}}</td>
            <td>{{item.carbs}}</td>
            <td>{{item.protein}}</td>
            <td>{{item.fat}}</td>
            <td></td>
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-success">Save Current Log</button>
<button type="button" class="btn btn-danger" ng-click="clearLog()">Delete Current Log</button>
<button type="button" class="btn btn-default">Load Saved Log</button>
